@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}
body{
  margin:0;
  text-align: center;
  max-width: 100% !important;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif !important;
  }
  /* ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 226, 98); */
  /* } */
.main{
  position: relative;
  margin-left: 200px;
}
.carousel-inner{
  /* padding-bottom: 500px; */
  /* margin-bottom: 100px; */
  /* height: 70px; */
}
#about-us{
    padding-top: 0px;
}
.navbar{
  padding-bottom: 2rem;
}
.navbar-brand{
  font-family: 'Bitter', serif;
  font-size: 2rem;
  font-weight: bold;
}
.navbar-item{
  padding: 100px 18px ;
}
.green{
  padding-top: 5px;

}
.area{
  background-color: #ffff;
}
#content{
  background-color: #ffff;

}
.card {

  background-color: #323232;
}
.card-head{
  font-family: 'Montserrat', sans-serif;

}
.card-text{
  font-family: 'Montserrat', sans-serif;
}
.cardlink{
  color: #14ffec;
}
.managelink{
  color: #0d7377;
}
.low{
  color: #14ffec;
}
#content2{
  padding-top: 100px;
}
.card-img-top {
  width: 100%;
  height: 15vw;
}
.bottom-container{
  background-color: #212121;
  padding: 50px 0 20px;
  margin-top: 80px;
}
.last{
  font-size: 1rem;
  color: #E4F6F6;
}
.sc{
  width: 4%;
  margin-top: 20px;
}
.copyright{
  color: #EAF6F6;
  font-size: 1.5rem;
  padding: 20px 0;
}
.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
}

.lsttext{
  color: #f6f7d7;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.contact-mess{
  width: 40%;
  margin: 40px auto 60px auto;
  font-size: 1.2rem;

}
#content3{
  padding-top: 50px;
}
hr{
  border: dotted #323232 6px;
  border-bottom: none;
  width: 30%;
  margin: 50px auto;
}
h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #323232;
  font-weight: bold;
  padding-bottom: 10px;
}
h3{
  font-size: 2rem;
  color: #323232;
}
h4{
  font-size: 1.5rem;
  color: #222831;
  padding-top: 40px;
  line-height: 2;
}
.contact-me{
  margin-bottom: 50px;
}
.icons{
  border-radius: 50%;
   width:50px;
   height:50px;
   line-height: 5;
   margin: auto 50px auto 50px;
 }
.icons1{
  border-radius: 50%;
   width:70px;
   height:70px;
   line-height: 5;
   margin: auto 50px auto 50px;
}
.title-font{
  padding-left: 10px;
}
#logo{
  max-width:150px;
}
.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #2b6cb0;  /*Set to match the Tailwind colour you want the active one to be */
}

.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: -5px 4px 5px 1px rgb(194, 194, 194);
  z-index:100;
}
#tooltip{
  visibility: hidden;
  width: 120px;
  position: absolute;
  background-color: #25d366;
  color:white;
  text-align: center;
  bottom: 70px;
  font-size: large;
  left: -40px;
  padding: 2px;
  
}
.my-float{
	/* margin-top:16px; */
  padding-top: 10px;
}

.float:hover #tooltip{
  visibility: visible;

}
#card{
  padding-left: 20px;
  padding-right: 20px;
}
#product-2{
  background-image: repeating-linear-gradient(rgb(255, 255, 255),rgb(187, 248, 245),rgb(203, 252, 249));
}
#product{
  background-image: repeating-linear-gradient(rgb(203, 252, 249),rgb(193, 252, 249),rgb(255, 255, 255));
}
#review{
  /* background-image: repeating-linear-gradient(rgb(255, 255, 255),rgb(192, 253, 250),rgb(255, 255, 255));
   */
   background-color: #e1fffc;
  
}
#contact-us{
  /* background-image: repeating-linear-gradient(rgb(255, 255, 255),rgb(214, 253, 251),rgb(255, 255, 255)); */
}
#team{
  background-image: repeating-linear-gradient(rgb(255, 255, 255),rgb(221, 253, 251),rgb(255, 255, 255));

}
#footer{
  background-color: #e6fcfa;
}

@media (max-width: 500px) { 
    /* #tooltip {
      visibility: visible;
      font-size: 17px;
    } */
    .float{
      bottom: 15px;
      right: 15px;
    }
    #email{
      font-size: smaller;
    }
}